.TodoItem{
  text-align: left;
}
.TodoItem .Icon{
  display: block;
  margin-right: 20px;
}
.TodoItem .Icon-check{
  float: left;
}
.TodoItem .Icon-delete{
  float: right;
}
.list-group-item-success{
  text-decoration: line-through;
}